body.print-hook {color:black;}
body.print-hook a {color:inherit; text-decoration:none;}

.scread {display:none;}

.image {display:none;}
/*
.image img.large {display:none;}
.image img.small {display:inline-block;}
*/

#controls {display:none;}

.no-print {display:none;}
.print-only {display:inherit;}
body.print-hook .print-only a {color:blue; text-decoration:underline;}
