/* margins: double change in line-height (0.75 * 2) = 1.5em */

body {margin:0; font-family:sans-serif; font-size:15px; line-height:1.75;}

a {color:#4040BF;}

.Black-White {color:#000000; background-color:#FFFFFF;}
.Grey {color:#333333; background-color:#FCFCFC; background-color:#FFFFFF;}
	.Grey h1 {color:#000000;}
.Sepia {color:#5F4B32; background-color:#FBF0D9;}
.White-Black {color:#FFFFFF; background-color:#000000;}
    .White-Black a {color:#C6C6EC;}
	.White-Black h1 {color:inherit;}
	.White-Black > footer #about img.avatar {background-color:hsl(0,0%,25%);}

header {}

h1, h2, h3, #index a {margin:0; font-family:serif; font-weight:normal; line-height:1;}
h1 {font-size:40px; color:#000000;}
	h1 .sub {font-size:30px;}
	h1 span {display:inline-block;}
h2 {font-size:inherit; font-style:italic;}
h3 {font-size:1.5em; margin:0.5em 0;}

aside div, figure figcaption {line-height:normal; font-style:italic; font-size:80%;}

figure {margin:0; text-align:center;}
figure img {max-width:100%;}

section {}
	section h2 {font-size:1.8em; font-style:normal; padding-bottom:0.6em;}
	section p {margin:0; text-indent:1.5em; text-align:justify;}
/*
		section p:first-of-type {text-indent:0;}
		section p:first-of-type:first-letter {float:left; font-size:3.3em; padding-right:0.1em; font-family:serif; line-height:1;}
*/
	section hr {border:none; text-align:center; margin:0; padding:3% 0; line-height:1.8;}
		section hr:before {/* content:"\0025EF"; */}

	blockquote {margin:0.875em 0; font-style:italic;}
		blockquote p {text-indent:0; text-align:center;}
		blockquote footer {text-align:right;}
		
	section + section {border-top:1px solid; padding-top:1.5em;}
		section + section h3 {margin-top:0;}
		
body > footer {border-top:1px solid;}
body > footer .content {line-height:normal; font-size:80%;}

body > footer p {margin:0 0 0.75em 0;}

body > footer menu, body > footer #about {width:47%;}

body > footer menu {margin:0; padding:0; float:left; margin-bottom: 1.5em;}
body > footer menu .links {line-height:24px;}
	body > footer menu .links .likes {height:24px; text-align:right; float:right; clear:right;}

clear {display:block; clear:both;}

body > footer #about {float:right;}
body > footer #about h1 {font-size:2em; margin-bottom:0.25em;} /* half-margin */
body > footer #about img.avatar {float:right;}

@media (max-width:500px) {
	body > footer menu, body > footer #about {float:none; width:100%;}
}

header, aside#blurb, aside#blurb .content, #controls, section, body > footer, figure, figure figcaption, #controls {
	margin:1.5em; padding:1.5em;
}
@media (max-width:320px) {
	body {line-height:1.5;}

	header, aside#blurb, section, body > footer, figure, figure figcaption, controls {
		margin:1em; padding:1em;
	}

	aside#blurb .content {padding:0 1em;}
	
	section p {text-indent:1em; text-align:left;}

	body > footer menu {margin-bottom:1em;}
    body > footer #about h1 {margin-bottom:0.16em;}
}
header, aside#blurb, #controls, section, body > footer {
	max-width:40em;
	margin-left:auto; margin-right:auto;
}


header, aside#blurb, section, aside#blurb .content, figure figcaption {padding-top:0; padding-bottom:0;}
aside#blurb .content, figure figcaption {margin:0;}
figure {padding:0; padding-right:0; margin-left:0; margin-right:0;}
body > footer {padding-bottom:0;}

#controls {text-align:right; padding-top:0; padding-bottom:0;}

#controls a {float:left;}

#controls .group {display:inline-block;}

#controls select, #controls button {
	font:inherit; height:1.75em; outline:0;
	background:#F8F8F8; border:1px solid #CCCCCC;
}

#controls .size {display:inline-block;}
#controls .size button {
	text-align:center; color:black;
	padding:0;
	cursor:pointer;
}
#controls .size button:disabled {cursor:default;}

#controls .size button.change {width:1.75em; border-radius:0.25em;}
#controls .size button.change.down {border-top-right-radius:0; border-bottom-right-radius:0;}
#controls .size button.change.up {border-top-left-radius:0; border-bottom-left-radius:0;}

#controls .size button.display {display:inline-block; width:3em; border-width:1px 0;}

#index {}
	#index ul {list-style:none; margin:0; padding:0;}
		#index li {clear:both; margin:0.75em 0;}
	#index li > a {font-size:132%; color:inherit;}
	#index p {display:inline; padding-left:0.75em;}
	#index .note {float:right; color:#000000; padding:0 8px; border-radius:0.5em; font-size:85%;}
		#index .note.updated {background-color:#C6C6EB;}
		#index .note.released {background-color:#FFD280;}
	#index div {text-align:right;}
		#index div .note {float:none; display:inline-block;}
